/* styles.css */

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay for better readability */
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* Ensure the content is above the overlay */
    color: #fff; /* Set text color to white for better contrast */
}

h1.display-4 {
    font-size: 3em; /* Increase font size for the heading */
    margin-bottom: 20px; /* Add margin at the bottom for separation */
}

p.lead {
    font-size: 1.5em; /* Increase font size for the lead paragraph */
    margin-bottom: 40px; /* Add more margin at the bottom for separation */
}

.button-container {
    margin-top: 20px;
}

.btn-primary {
    padding: 12px 30px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9;
}

