<!-- index.html -->

{% extends "bootstrap/base.html" %}

{% block title %}
    international transport reservation
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<div class="background-container" style="background-image: url('{{ url_for('static', filename='images/transport.jpg') }}');">
    <div class="overlay"></div> <!-- Add an overlay for better readability of content -->
    <div class="content-container">
        <h1 class="display-4">international transport Reservation</h1>
        <p class="lead">reserve now</p>
        <div class="button-container">
            <a href="/reserve-seat" class="btn btn-primary">Reserve Your Seat</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

